blessings==1.7
browsermob-proxy==0.8.0
certifi==2018.10.15
chardet==3.0.4
enum34==1.1.6
h2==3.0.1
hpack==3.0.0
hyperframe==5.1.0
idna==2.7
manifestparser==1.1
marionette-driver==2.7.0
marionette-harness==4.5.0
mozcrash==1.0
mozdevice==1.1.6
mozfile==2.0.0
mozinfo==1.0.0
mozlog==3.9
moznetwork==0.27
mozprocess==0.26
mozprofile==2.1.0
mozrunner==7.2.0
mozterm==1.0.0
moztest==0.8
mozversion==1.5
pkg-resources==0.0.0
psutil==4.1.0
requests==2.20.0
selenium==3.141.0
six==1.11.0
urllib3==1.24.1
wptserve==2.0

